.footer,
.main-content,
.header,
.help-bar,
.tabs {
    max-width: 1100px;
}

.main-content {
    margin-top: 10px;
}

.logo-section img {
    width: 110px;
    height: 35px;
}

.search-section {
    width: 300px;
}

.search-button {
    position: relative;
}

.search-bar,
.search-button {
    height: 40px;
}

.search-button .header-tooltip {
    position: absolute;
    top: 30px;
    right: -62px;
}

.category-dropbtn {
    padding: 12px 35px;
}

.categories-dropdown {
    top: 44px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.icon-section .icon {
    width: 18px;
    height: 18px;
}

.wishlist-count,
.shopcart-count,
.notification-count {
    top: -5px;
}

.tabs button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.profile-view-main-container,
.profile-view-personal-data-container,
.profile-view-shipping-address-container {
    display: flex;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    margin: 10px 0;
}

.profile-view-personal-data-container {
    height: 500px;
}

.profile-view-shipping-address-container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-view-title {
    margin-top: 20px;
}

.profile-view-personal-data-title {
    display: flex;
}

.profile-view-personal-data-title h1 {
    flex: 1;
}

.profile-view-main-left {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;
}

.profile-view-main-left-account p {
    margin: 8px 0px;
}

.profile-view-main-left-image-content {
    position: relative;
}

.profile-view-main-left-image {
    position: relative;
}

.profile-view-main-left-image-show img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-view-main-left-image-edit {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(61, 167, 144);
    border-radius: 50%;
}

.profile-view-main-left-image-edit img {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.profile-view-main-right {
    display: flex;
    flex: 1;
    margin: 15px 0px 15px 0px;
    border-left: 1px solid #ccc;
}

.profile-view-main-right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px 15px 0px 15px;
}

.provile-view-main-right-counter {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.profile-view-info-message,
.profile-view-error-message {
    text-align: center;
    background-color: rgb(214, 181, 181);
    border: 2px solid rgb(158, 0, 0);
    color: rgb(158, 0, 0);
    font-size: 14px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgb(121, 121, 121);
}

.profile-view-info-message {
    background-color: rgb(190, 214, 181);
    border: 2px solid rgb(42, 129, 42);
    color: rgb(30, 95, 0);
}

.profile-view-home-address,
.profile-view-account {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    margin: 10px 40px;
}

.profile-view-edit-account,
.profile-view-change-address {
    text-align: center;
}

.profile-view-edit-account span {
    flex: 1;
    text-align: center;
}

.profile-view-main-change-password {
    margin-top: 25px !important;
    text-align: center;
}

.profile-view-main-change-password button,
.profile-view-main-left-account a,
.profile-view-edit-account button,
.profile-view-home-address button,
.profile-view-shipping-address-edit button {
    text-decoration: none;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(29, 183, 129);
    cursor: pointer;
}

.profile-view-shipping-address-edit button {
    border: none;
    font-size: 15px;
}

.profile-view-main-left-account a {
    letter-spacing: 1px;
    margin-left: 20px;
}

.profile-view-main-change-password button:hover
.profile-view-main-left-account a:hover,
.profile-view-edit-account button:hover,
.profile-view-home-address button:hover,
.profile-view-shipping-address-edit button:hover {
    color: rgb(112, 221, 183);
}

.profile-view-home-address span {
    text-align: end;
}

.profile-view-shipping-address {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    border-left: 1px solid rgb(195, 195, 195);
}

.profile-view-shipping-address-edit {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.profile-view-shipping-address-add {
    position: relative;
    display: flex;
    height: 300px;

}

.profile-view-shipping-address-icon {
    position: absolute;
    top: 130px;
    left: 130px;
}

.profile-view-shipping-address-add i {
    font-size: 50px;
    color: rgb(29, 183, 129);
    cursor: pointer;
}

.profile-view-shipping-address-add i:hover {
    color: rgb(112, 221, 183);
}

.profile-view-shipping-address-section,
.profile-view-shipping-address-edit {
    margin-left: 20px;
}


.profile-view-info-container,
.profile-view-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

/* code for the form blocks */
.edit-image-block-display,
.edit-account-block-display,
.change-password-block-display,
.edit-address-block-display,
.add-shipping-address-block-display,
.edit-shipping-address-block-display {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e4e4e4;
    border: 1px solid rgb(222, 222, 222);
    height: 600px;
    max-width: 850px;
    z-index: 1;
}

.block-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.close {
    position: absolute;
    display: inline-block;
    font-size: 30px;
    top: 0px;
    right: 6px;
    cursor: pointer;
}

.edit-image-block-display h2,
.edit-account-block-display h2,
.edit-address-block-display h2,
.add-shipping-address-block-display h2,
.edit-shipping-address-block-display h2 {
    margin: 60px 0px 0px 0px;
    font-size: 30px;
}

.profile-view-image-edit {
    position: relative;
}

.profile-view-image-edit img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.edit-image-block-content,
.edit-account-block-content,
.edit-address-block-content,
.add-shipping-address-block-content,
.edit-shipping-address-block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-form-field {
    width: 100%;
    margin: 0 20px;
}

.edit-image-form,
.edit-account-form,
.edit-address-form
.add-shipping-address-form,
.edit-shipping-address-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.upload-profile-image {
    display: none
}

.profile-image-btn,
.file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #fff5f5;
    color: #a41d1d;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid rgb(99, 99, 99);
    cursor: pointer;
}

.profile-image-btn {
    background-color: rgb(173, 78, 78);
    color: #fff;
    width: 100%;
    outline: none;
    margin-top: 0.2rem;
}

.file-input-label:hover {
    color: white;
    background-color: #edc7c7;
}

.profile-image-btn:hover {
    color: rgb(173, 78, 78);
    background-color: #edc7c7;
}


.upload-file-preview img {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.change-password-block-display {
    justify-content: space-evenly;
    width: 500px;
    height: 650px;
}

.change-password-block-display h2 {
    font-size: 30px;
    color: #ba2727;
}

.change-password-block-display h5 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(172, 119, 119);
}

.change-password-form {
    display: flex;
    text-align: center;
}

.change-password-field {
    border: solid 1px black;
    border-radius: 10px;
    padding-left: 60px;
    background-color: #ffffff;
    height: 60px;
}

.change-password-field.error {
    border: solid 2px rgb(169, 29, 29);
    background-color: #e9b1b1;
}

.change-password-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-form-field {
    position: relative;
    margin-top: 40px;
    max-width: 400px;
}

.change-password-form-field.old-password {
    margin-top: 0px;
}

.change-password-icon {
    position: absolute;
    left: 20px;

}

.change-password-info-icon {
    position: absolute;
    top: 0px;
    right: -5px;
}

.fas.fa-info-circle.password {
    position: absolute;
    top: 25px;
    right: 15px;
    color: #2c2e9e;
}

.fas.fa-info-circle.password:hover {
    cursor: pointer;
    color: gray;
}

.change-password-icon,
.change-password-info-icon {
    text-align: center;
    line-height: 60px;
}

.change-password-tooltip {
    position: absolute;
    width: 280px;
    bottom: 25px;
    right: -290px;
    color: white;
    background-color: rgb(88, 74, 170);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 2px rgb(133, 133, 133);
    opacity: 0;
}

.fas.fa-info-circle.password:hover + .change-password-tooltip {
    opacity: 1;
}

.fas.fa-eye {
    color: #646160;
}

.change-password-btn {
    width: 320px;
    height: 60px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(233, 233, 233);
    background-color: rgb(173, 78, 78);
    cursor: pointer;
    border-radius: 50px;
    border: solid 2px black;
}

.change-password-btn:hover {
    color: #b76161;
    background-color: rgb(245, 231, 231);
}

.password-error-info {
    position: relative;
    display: none;
    padding: 20px 35px 20px 10px;
    background-color: #f6b5b5;
    border: 2px solid rgb(169, 29, 29);
    border-radius: 20px;
}

.password-error-info ul {
    list-style-type: disc;
    padding-left: 20px;
}

.close-error-window {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 6px;
    right: 10px;
    cursor: pointer;
}

.change-password-form-field-box.error {
    width: 320px;
    padding-top: 10px;
    text-align: left;
    color: red;
}
