.reset-password-block-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100vw;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 24px 4px rgb(106, 106, 106);
}

.reset-password-block-display h2 {
    font-size: 30px;
    color: #ba2727;
    margin-top: 40px;
}

.reset-password-block-display p {
    font-size: 16px;
    color: gray;
}

.change-password-field {
    border: solid 1px black;
    border-radius: 10px;
    padding-left: 60px;
    background-color: #ffffff;
    height: 40px;
    width: 350px;
}

.reset-password-form-field {
    position: relative;
    margin-top: 40px;
    max-width: 400px;
}

.reset-password-icon {
    position: absolute;
    color: rgb(100, 97, 96);
    left: 20px;
    top: 12px;
    cursor: pointer;
}

.fas.fa-info-circle {
    position: absolute;
    color: rgb(0, 0, 155);
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.fas.fa-info-circle:hover {
    color: gray;
}

.reset-password-tooltip {
    position: absolute;
    width: 280px;
    bottom: 25px;
    right: -290px;
    color: white;
    background-color: rgb(88, 74, 170);
    padding: 8px 6px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 2px rgb(133, 133, 133);
    opacity: 0;
}

.fas.fa-info-circle:hover + .reset-password-tooltip {
    opacity: 1;
}

.reset-password-btn-box {
    text-align: center;
}

.reset-password-btn {
    margin: 40px;
    padding: 14px 60px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(167, 67, 67);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.reset-password-btn:hover {
    background-color: rgb(210, 138, 138);
}
