{%extends "base.html"%}

{%block content%}

{% for message in messages %}
    <div class="change-password-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

<h1>Change password</h1>
<div class="change-password-form">
    <form method="post" action="{% url 'account:change-password' request.user.username %}">
        {% for field in password_form %}
            {% for error in field.errors %}
                <div class="change-password-error-message">{{ error }}</div>
            {% endfor %}
            <div class="change-password-field {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                <span class="change-password-help-text">{{ field.help_text }}</span>
            </div>
        {% endfor %}
        {% csrf_token %}
        <button class="change-password-button" type="submit">Change Password</button>
    </form>
</div>
{%endblock content%}
