{%extends "base.html"%}

{%block content%}

{% for message in messages %}
    <div class="change-password-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

{% for error in password_form.new_password.errors %}
    <div class="change-password-field-error">
        {{ error }}
    </div>
{% endfor %}

<div class="change-password-form">
    <form method="post" action="{% url 'account:change-password' request.user.username %}">
        <div class="change-password-field">
            <label for="{{ password_form.old_password.id_for_label }}">{{ password_form.old_password.label }}:</label>
            {{ password_form.old_password }}
        </div>
        <div class="change-password-field">
            <label for="{{ password_form.new_password.id_for_label }}">{{ password_form.new_password.label }}:</label>
            {{ password_form.new_password }}
        </div>
        <div class="change-password-field">
            <label for="{{ password_form.confirm_password.id_for_label }}">{{ password_form.confirm_password.label }}:</label>
            {{ password_form.confirm_password }}
            <span class="change-password-help"> {{ password_form.confirm_password.help_text }}</span>
        </div>
        {% csrf_token %}
        <button class="change-password-button" type="submit">Change Password</button>
    </form>
</div>
{%endblock content%}
