{%extends "base.html"%}

{%block content%}
<h1>Create your account</h1>
<p>You can edit your account using the following form:</p>
<div class="profile-form">
  <form method="post" enctype="multipart/form-data">
    <div class="profile-field">
      <label for="profile_form.first_name.id_for_label">{{ profile_form.first_name.label }}:</label>
      {{ profile_form.first_name }}
    </div>
    <div class="profile-field">
      <label for="profile_form.last_name.id_for_label">{{ profile_form.last_name.label }}:</label>
      {{ profile_form.last_name }}
    </div>
    <div class="profile-field">
      <label for="profile_form.date_of_birth.id_for_label">{{ profile_form.date_of_birth.label }}:</label>
      {{ profile_form.date_of_birth }}
    </div>
    <div class="profile-field">
      <label for="profile_form.image.id_for_label">{{ profile_form.image.label }}:</label>
      {{ profile_form.image }}
    </div>
    {{create_account_form.as_p}}
    {%csrf_token%}
    <p><input type="submit" value="Save changes"></p>
  </form>
</div>
  <p><a href="#">Forgot your password?</a></p>
{%endblock content%}
