{%extends "base.html"%}

{%block content%}
{% for message in messages %}
    <div class="create-profile-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

<h1>Create your profile</h1>
<p>You can edit your account using the following form:</p>
<div class="create-profile-form">
  <form method="post" enctype="multipart/form-data">
    {% for field in profile_form %}
      {% for error in field.errors %}
        <div class="create-profile-error-message">{{ error }}</div>
      {% endfor %}
      <div class="create-profile-field {% if field.errors %}has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        <span class="create-profile-help-text">{{ field.help_text }}</span>
      </div>
    {% endfor %}
    {%csrf_token%}
    <button class="create-profile-button" type="submit">Save Changes</button>
  </form>
</div>
{%endblock content%}
