{%extends "base.html"%}

{%block content%}
<button class="" onclick="window.location.href='{% url 'account:profile-view' request.user.username %}'">Shop</button>
<h1>Edit your profile</h1>
    <div class="edit-profile-form">
      <form method="post" enctype="multipart/form-data">
        <div class="edit-profile-field">
          <label for="profile_form.first_name.id_for_label">{{ profile_form.first_name.label }}</label>
          {{ profile_form.first_name }}
        </div>
        <div class="edit-profile-field">
          <label for="profile_form.last_name.id_for_label">{{ profile_form.last_name.label }}:</label>
          {{ profile_form.last_name }}
        </div>
        <div class="edit-profile-field">
          <label for="profile_form.date_of_birth.id_for_label">{{ profile_form.date_of_birth.label }}:</label>
          {{ profile_form.date_of_birth }}
        </div>
        <div class="edit-profile-field">
          <label for="profile_form.image.id_for_label">{{ profile_form.image.label }}:</label>
          {{ profile_form.image }}
        </div>
        <div class="edit-profile-field">
          <label for="address_form.image.id_for_label">{{ address_form.street.label }}:</label>
          {{ address_form.street }}
        </div>
        <div class="edit-profile-field">
          <label for="address_form.image.id_for_label">{{ address_form.zip_code.label }}:</label>
          {{ address_form.zip_code }}
        </div>
        <div class="edit-profile-field">
          <label for="address_form.image.id_for_label">{{ address_form.city.label }}:</label>
          {{ address_form.city }}
        </div>
        <div class="edit-profile-field">
          <label for="profile_form.image.id_for_label">{{ address_form.state.label }}:</label>
          {{ address_form.state }}
        </div>
        <div class="edit-profile-field">
          <label for="profile_form.image.id_for_label">{{ address_form.country.label }}:</label>
          {{ address_form.country }}
        </div>
        {%csrf_token%}
        <button type="submit">Save Changes</button>
      </form>
    </div>
{%endblock content%}
