{%extends "base.html"%}

{%block content%}
<button class="" onclick="window.location.href='{% url 'account:profile-view' request.user.username %}'">Shop</button>
<h1>Edit your address</h1>
    <div class="edit-address-form">
      <form method="post" action="{% url 'account:edit-address' request.user.username %}">
        {% for field in address_form %}
          {% for error in field.errors %}
            <div class="edit-address-error-message">{{ error }}</div>
          {% endfor %}
          <div class="edit-address-box {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            <span class="edit-address-help-text">{{ field.help_text }}</span>
          </div>
        {% endfor %}
        {%csrf_token%}
        <button class="edit-address-button" type="submit">Save Changes</button>
      </form>
    </div>
{%endblock content%}
