{%extends "base.html"%}

{%load static%}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/profile-view.css' %}">
{% endblock %}

{%block content%}
{% for message in messages %}
    <div class="change-password-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

<h1>Edit shipping address</h1>
<div class="edit-shipping-address">
    {% if shipping_address %}
    <form method="post" action="{% url 'account:edit-shipping-address' request.user.username shipping_address.id 'edit'%}">
    {% else %}
    <form method="post" action="{% url 'account:edit-shipping-address' request.user.username 'add'%}">
    {% endif %}
        {% for field in shipping_address_form %}
            {% for error in field.errors %}
                <div class="edit-shipping-address-error-message">{{ error }}</div>
            {% endfor %}
            <div class="edit-shipping-address-box {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                <span class="change-password-help-text">{{ field.help_text }}</span>
            </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit">Saved</button>
    </form>
</div>
<script src="{% static 'js/account-scripts.js' %}"></script>

{%endblock content%}
