{%extends "base.html"%}

{%block content%}
<h1>Log-in</h1>
<p>Please, use the following form to log-in. If you
do not have an account, you have to <a href="{% url 'account:register' %}">create</a> a new one.</p>
<div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
        <div class="fieldWrapper">
            {{ login_form.username.errors }}
            <label for="{{ login_form.username.id_for_label }}">{{ login_form.username.label }}:</label>
            {{ login_form.username }}
        </div>
        <div class="fieldWrapper">
            {{ login_form.password.errors }}
            <label for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}:</label>
            {{ login_form.password }}
        </div>
        {%csrf_token%}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log in"></p>
    </form>
    <p><a href="#">Forgot your password?</a></p>
</div>
{%endblock content%}
