{%extends "base.html"%}

{%block content%}
{% for message in messages %}
    <div class="login-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

<h1>Log-in</h1>
<p>Please, use the following form to log-in. If you
do not have an account, you have to <a href="{% url 'account:register' %}">create</a> a new one.</p>
<div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
        {% for field in login_form %}
            {% for error in field.error %}
                <div class="login-error-message">{{ error }}</div>
            {% endfor %}
            <div class="login-field {% if field.errors %}has-error{% endif %}">
                <label for="{{ login.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                <span class="login-help-text">{{ field.help_text }}</span>
            </div>
        {% endfor %}
        {%csrf_token%}
        <button class="login-button" type="submit">Log in</button>
    </form>
    <p><a href="{% url 'account:reset-password' %}">Forgot your password?</a></p>
</div>
{%endblock content%}
