{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login-form.css' %}">
        <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
        <title>Login</title>
    </head>
    <body>
        <div class="login-form-container">
            <div class="login-img">
                <img src="{% static 'images/login-avatar.svg' %}" alt="login-image">
            </div>
            <div class="login-form">
                <form action="{% url 'account:login' %}" method="post">
                    <div class="login-form-title">
                        <h1>Login</h1>
                        <h2>Welcome to Ecommerce!</h2>
                        <p>Enter your credentials to log in.</p>
                    </div>
                    {% for message in messages %}
                    <div class="login-{{ message.tags }}">
                        <div class="login-error-image">
                            <i class="fas fa-exclamation-circle"></i>
                        </div>
                        <div class="login-error-message">
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="login-form-box">
                        <div class="login-form-field username {% if messages %}has-error{% endif %}">
                            <div class="login-icon">
                                <i class="far fa-user-circle"></i>
                            </div>
                            <div class="login-form-field-box">
                                <h5>{{ login_form.username.label }}</h5>
                                {{ login_form.username }}
                            </div>
                        </div>
                        <div class="login-form-field password {% if messages %}has-error{% endif %}">
                            <div class="login-icon">
                                <i class="fas fa-eye" onclick="showPassword('password', '.fas.fa-eye')"></i>
                            </div>
                            <div class="login-form-field-box">
                                <h5>{{ login_form.password.label }}</h5>
                                {{ login_form.password }}
                            </div>
                        </div>
                        <h5><a href="{% url 'account:reset-password' %}">Forgot password?</a></h5>
                    </div>
                    {%csrf_token%}
                    <input type="submit" class="login-btn" value="Login">
                    <h5>Don't have an account? <a href="{% url 'account:register' %}">Register</a></h5>
                </form>
            </div>
        </div>
        <div class="footer">
            <p>footer</p>
        </div>
    </body>
    <script src="{% static 'js/scripts.js' %}"></script>
</html>
