{%extends "base.html"%}
{%load static%}

{%block content%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="profile-view"></div>
    <h1 class="profile-view-title">Personal data</h1>
    <div class="profile-view-data">
        <div class="profile-main-view-box">
            <div class="profile-main-view-panel-left">
                <div class="profile-main-view-section">
                    <div class="profile-main-view-section-left">
                        <h1 class="profile-main-view-greeting">Hi {{user.account.first_name}}!</h1>
                        <p class="profile-main-view-email-display">{{ user.email }}</p>
                    </div>
                    <div class="profile-main-view-section-right">
                        <button classs="profile-image-button">
                            {% if user.account.image %}
                            <img src="{{ user.account.image.url }}" alt="Profile image">
                            {% else %}
                            <img src="{% static 'images/no-image-account.webp' %}" alt="Profile image">
                            {% endif %}
                        </button>
                    </div>
                    <div class="profile-main-view-section-right">
                        <!--To do when products are added-->
                        <p>The list of recently purchased products</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="profile-view-account-box">
        <div class="profile-view-account-panel-left">
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">USERNAME</h3>
                <p class="profile-view-account-field">{{ user.username }}</p>
            </div>
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-field">BIRTH DATE</h3>
                <p class="profile-view-account-field">{{ user.account.date_of_birth }}</p>
            </div>
        </div>
        <div class="profile-view-panel-account-center">
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">CLIENT ID</h3>
                <p class="profile-view-account-field">{{ user.account.client_id }}</p>
            </div>
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-field">EMAIL</h3>
                <p class="profile-view-account-field">{{ user.email }}</p>
            </div>
        </div>
        <div class="profile-view-panel-account-right">
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">ACCOUNT</h3>
                <p class="profile-view-account-field">{{ user.account.account_type }}</p>
            </div>
            <!--Add edit account-->
            <span><a href="{% url 'account:edit-account' request.user.username %}">Edit account</a></span>
            <span><a href="{% url 'account:change-password' request.user.username %}">Change password</a></span>
        </div>
    </div>
    <div class="profile-view-address-box">
        <div class="profile-view-address-panel-left">
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-title">STREET</h3>
                <p class="profile-view-address-field">{{ user.account.address.street }}</p>
            </div>
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-field">ZIP CODE</h3>
                <p class="profile-view-address-field">{{ user.account.address.zip_code }}</p>
            </div>
        </div>
        <div class="profile-view-address-panel-center">
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-title">CITY</h3>
                <p class="profile-view-address-field">{{ user.account.address.city }}</p>
            </div>
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-field">COUNTRY</h3>
                <p class="profile-view-address-field">{{ user.account.address.country }}</p>
            </div>
        </div>
        <div class="profile-view-panel-address-right">
            <div class="profile-view-address-section">
                <!--Add edit address-->
                <span><a href="{% url 'account:edit-address' request.user.username %}">Edit address</a></span>
            </div>
        </div>
    </div>
{%endblock content%}
