{%extends "base.html"%}

{%load static%}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/profile-view.css' %}">
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
{% endblock %}

{%block content%}
{% for message in messages %}
    <div class="profile-view-{{ message.tags }}-container">
        <div class="profile-view-{{ message.tags }}-message">
            {{ message }}
        </div>
    </div>
{% endfor %}
<div class="profile-view">
    <h1 class="profile-view-title">Profile</h1>
    <div class="profile-view-main-container">
        <div class="profile-view-main-left">
            <div class="profile-view-main-left-account">
                <h1>Hi {{user.account.first_name}}!</h1>
                <p>{{ user.email }}</p>
                <p>{{ user.account.client_id }}</p>
                <p>{{ user.account.account_type_default }}
                {% if user.account.account %}
                <span><a href="#">EDIT ACCOUNT</a></span>
                {% else %}
                <span><a href="#">ADD ACCOUNT</a></span>
                {% endif %}
                </p>
                <p class="profile-view-main-change-password">
                    <button onclick="(() => openBlock('changePasswordBlock'))()">CHANGE PASSWORD</a></button>
                </p>
            </div>
            <div class="profile-view-main-left-image">
                <div class="profile-view-main-left-image-show">
                    {% if user.account.image %}
                    <img id="profileImage" src="{{ user.account.image.url }}" alt="Profile image" onclick="openBlock('editImageBlock')">
                    {% else %}
                    <img id="profileImage" src="{% static 'images/no-image-account.webp' %}" alt="Profile image" onclick="openBlock('editImageBlock')">
                    {% endif %}
                </div>
                <div class="profile-view-main-left-image-edit">
                    <img src="{% static 'images/edit-image-icon.svg' %}" onclick="(() => openBlock('editImageBlock'))()">
                </div>
            </div>
        </div>
        <div class="profile-view-main-right">
            <div class="profile-view-main-right-section">
                <div class="provile-view-main-right-counter">
                    <p>You are with us</p>
                    <p>x days x months x days</p>
                </div>
                <div class="profile-view-main-right-products">
                    <!--To do when products are added-->
                    <p>The list of recently purchased products</p>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-view-personal-data-title">
        <h1 class="profile-view-title">Personal data</h1>
        <h1 class="profile-view-title">Home address</h1>
    </div>
    <div class="profile-view-personal-data-container">
        <div class="profile-view-account">
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">USERNAME</h3>
                <p class="profile-view-account-field">{{ user.username }}</p>
            </div>
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">NAME AND SURNAME</h3>
                <p class="profile-view-account-field">{{ user.account.get_full_name }}</p>
            </div>
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">BIRTH DATE</h3>
                <p class="profile-view-account-field">{{ user.account.date_of_birth }}</p>
            </div>
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">PHONE NUMBER</h3>
                <p class="profile-view-account-field">{{ user.account.phone }}</p>
            </div>
            <div class="profile-view-account-section">
                <h3 class="profile-view-account-title">ACCOUNT</h3>
                <p class="profile-view-account-field">{{ user.account.account_type_default }}</p>
            </div>
            <p class="profile-view-edit-account">
                <button onclick="(() => openBlock('editAccountBlock'))()">EDIT ACCOUNT</a></button>
            </p>
        </div>
        <div class="profile-view-home-address">
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-title">STREET</h3>
                <p class="profile-view-address-field">{{ user.account.address.street }}</p>
            </div>
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-title">ZIP CODE</h3>
                <p class="profile-view-address-field">{{ user.account.address.zip_code }}</p>
            </div>
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-title">CITY</h3>
                <p class="profile-view-address-field">{{ user.account.address.city }}</p>
            </div>
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-title">STATE</h3>
                <p class="profile-view-address-field">{{ user.account.address.state }}</p>
            </div>
            <div class="profile-view-address-section">
                <h3 class="profile-view-address-field">COUNTRY</h3>
                <p class="profile-view-address-field">{{ user.account.address.country }}</p>
            </div>
            <p class="profile-view-change-address">
                <button onclick="(() => openBlock('editAddressBlock'))()">EDIT ADDRESS</a></button>
            </p>
        </div>
    </div>
    <h1 class="profile-view-title">Shipping address</h1>
    <div class="profile-view-shipping-address-container">
        {% for address in shipping_address_data %}
        <div class="profile-view-shipping-address">
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-title">FIRST NAME</h3>
                <p class="profile-view-shipping-address-field">{% if address.first_name %}{{ address.first_name }}{%else%}{%endif%}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-title">LAST NAME</h3>
                <p class="profile-view-shipping-address-field">{% if address.last_name %}{{ address.last_name }}{%else%}{%endif%}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-title">COMPANY</h3>
                <p class="profile-view-shipping-address-field">{{ address.company }}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-title">STREET</h3>
                <p class="profile-view-shipping-address-field">{{ address.street }}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-title">ZIP CODE</h3>
                <p class="profile-view-shipping-address-field">{{ address.zip_code }}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-title">CITY</h3>
                <p class="profile-view-shipping-address-field">{{ address.city }}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-field">STATE</h3>
                <p class="profile-view-shipping-address-field">{{ address.state }}</p>
            </div>
            <div class="profile-view-shipping-address-section">
                <h3 class="profile-view-shipping-address-field">COUNTRY</h3>
                <p class="profile-view-shipping-address-field">{{ address.country }}</p>
            </div>
            <div class="profile-view-shipping-address-edit">
                <button onclick="openEditShippingAddressBlock('editShippingAddressBlock-{{ address.id }}')">EDIT</a></span>
                <span>
                    <form method="post" action="{% url 'account:delete-shipping-address' request.user.username address.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this address?')">DELETE</button>
                    </form>
                </span>
            </div>
        </div>
        {% endfor %}
        <div class="profile-view-shipping-address-add">
            <div class="profile-view-shipping-address-icon">
                <i onclick="(() => openBlock('addShippingAddressBlock'))()" class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- edit profile image block -->
<div id="editImageBlock" class="edit-image-block-display">
    <h2>Change profile image</h2>
    <div id="editImageBlockContent" class="edit-image-block-content">
        <span class="close" onclick="(() => closeBlock('editImageBlock'))()">&times;</span>
        <div class="profile-view-image-edit">
            {% if user.account.image %}
            <img src="{{ user.account.image.url }}" alt="Profile image">
            {% else %}
            <img src="{% static 'images/no-image-account.webp' %}" alt="Profile image">
            {% endif %}
            <div id="uploadFilePreview" class="upload-file-preview"></div>
        </div>
        <div class="edit-image-form">
            <form id="uploadImageForm" class="edit-image-form" action="{% url 'account:change-profile-image'%}" method="post" enctype="multipart/form-data" >
                <div class="image-form-field">
                    <div class="image-form-field-box">
                        <label for="uploadProfileImage" id="uploadFileLabel" class="file-input-label">
                            Choose File
                        </label>
                        {{ image_form.image }}
                    </div>
                    <input type="submit" class="profile-image-btn" value="Save image">
                </div>
                {%csrf_token%}
            </form>
        </div>
    </div>
</div>

<!-- change password block -->
<div id="changePasswordBlock" class="change-password-block-display">
    <h2>Change password</h2>
    <div id="passwordErrorInfo" class="password-error-info">
        <span class="close-error-window" onclick="closeErrorBlock('passwordErrorInfo')">&times;</span>
        <p>Make sure that your new password consists of:</p>
            <ul>
                <li>at least one uppercase letter and one digit.</li>
                <li>at least one uppercase one digit.</li>
            </ul>
    </div>
    <div id="changePasswordBlockContent" class="change-password-block-content">
        <span class="close" onclick="(() => closeBlock('changePasswordBlock'))()">&times;</span>
        <div class="change-password-form">
            <form id="passwordForm" method="post" action="{% url 'account:change-password' request.user.username %}">
                <div class="change-password-form-box">
                    <div class="change-password-form-field old-password">
                        <div class="change-password-icon">
                            <i class="fas fa-eye old-password" onclick="showPassword('oldPassword', '.fas.fa-eye.old-password')"></i>
                          </div>
                        <div class="change-password-form-field-box old-password">
                            <!-- <h5>{{ password_form.old_password.label }}</h5> -->
                            {{ password_form.old_password }}
                        </div>
                    </div>
                    <div id="passwordFormErrorOldPassword" class="change-password-form-field-box old-password error"></div>
                    <div class="change-password-form-field new-password">
                        <div class="change-password-icon">
                            <i class="fas fa-eye new-password" onclick="showPassword('newPassword', '.fas.fa-eye.new-password')"></i>
                          </div>
                        <div class="change-password-form-field-box new-password">
                            <!-- <h5>{{ password_form.new_password.label }}</h5> -->
                            {{ password_form.new_password }}
                        </div>
                    </div>
                    <div id="passwordFormErrorNewPassword" class="change-password-form-field-box new-password error"></div>
                    <div class="change-password-form-field confirm-password">
                        <div class="change-password-icon">
                            <i class="fas fa-eye confirm-password" onclick="showPassword('confirmPassword', '.fas.fa-eye.confirm-password')"></i>
                          </div>
                        <div class="change-password-form-field-box confirm-password">
                            <!-- <h5>{{ password_form.confirm_password.label }}</h5> -->
                            {{ password_form.confirm_password }}
                        </div>
                        <i class="fas fa-info-circle password"></i>
                        <div class="change-password-tooltip">{{ password_form.confirm_password.help_text }}</div>
                    </div>
                    <div id="passwordFormErrorConfirmPassword" class="change-password-form-field-box confirm-password error"></div>
                </div>
                {%csrf_token%}
                <button class="change-password-btn" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>

<!-- edit account block -->
<div id="editAccountBlock" class="edit-account-block-display">
    <h2>Edit your account</h2>
    <div id="editAccountInfo" class="edit-account-info">
        <img class="warning-sign" src="{% static 'images/warning-sign.svg' %}">
        <p>Remember to always insert your valid personal data</p>
    </div>
    <div id="editAccountBlockContent" class="edit-account-block-content">
        <span class="close" onclick="(() => closeBlock('editAccountBlock'))()">&times;</span>
        <div class="edit-account-form">
            <form id="editAccountForm" method="post" action="{% url 'account:edit-account' request.user.username %}">
                <div class="edit-account-form-box">
                    <div class="full-name-block">
                        <div class="edit-account-form-field first_name">
                            <div class="edit-account-form-field-box first_name">
                                <h5>{{ account_form.first_name.label }}</h5>
                                {{ account_form.first_name }}
                            </div>
                            <div id="editAccountErrorFirstName" class="edit-account-form-field-box first_name error"></div>
                        </div>
                        <div class="edit-account-form-field last_name">
                            <div class="edit-account-form-field-box last_name">
                                <h5>{{ account_form.last_name.label }}</h5>
                                {{ account_form.last_name }}
                            </div>
                            <div id="editAccountErrorLastName" class="edit-account-form-field-box last_name error"></div>
                        </div>
                    </div>
                    <div class="edit-account-form-field date_of_birth">
                        <div class="edit-account-form-field-box date_of_birth">
                            <h5>{{ account_form.date_of_birth.label }}</h5>
                            {{ account_form.date_of_birth }}
                        </div>
                        <div id="editAccountErrorBirth" class="edit-account-form-field-box date_of_birth error"></div>
                    </div>
                    <div class="edit-account-form-field phone">
                        <div class="edit-account-form-field-box phone">
                            <h5>{{ account_form.phone.label }}</h5>
                            {{ account_form.phone }}
                        </div>
                        <div id="editAccountErrorPhone" class="edit-account-form-field-box phone error"></div>
                    </div>
                </div>
                {%csrf_token%}
                <div class="edit-account-btn-block"><button class="edit-account-btn" type="submit">Save Changes</button></div>
            </form>
        </div>
    </div>
</div>

<!-- edit address block -->
<div id="editAddressBlock" class="edit-address-block-display">
    <h2>Edit your address</h2>
    <div id="editAddressInfo" class="edit-address-info">
        <img class="warning-sign" src="{% static 'images/warning-sign.svg' %}">
        <p>Remember to insert your current data</p>
    </div>
    <div id="editAddressBlockContent" class="edit-address-block-content">
        <span class="close" onclick="(() => closeBlock('editAddressBlock'))()">&times;</span>
        <div class="edit-address-form">
            <form id="editAddressForm" method="post" action="{% url 'account:edit-address' request.user.username %}">
                <div class="edit-address-form-box">
                    <div class="edit-address-form-field street">
                        <div class="edit-address-form-field-box street">
                            <h5>{{ address_form.street.label }}</h5>
                            {{ address_form.street }}
                        </div>
                        <div id="editAddressErrorStreet" class="edit-address-form-field-box street error"></div>
                    </div>
                    <div class="zip-code-street-block-address">
                        <div class="edit-address-form-field zip_code">
                            <div class="edit-address-form-field-box zip_code">
                                <h5>{{ address_form.zip_code.label }}</h5>
                                {{ address_form.zip_code }}
                            </div>
                            <div id="editAddressErrorZipCode" class="edit-address-form-field-box zip_code error"></div>
                        </div>
                        <div class="edit-address-form-field city">
                            <div class="edit-address-form-field-box city">
                                <h5>{{ address_form.city.label }}</h5>
                                {{ address_form.city }}
                            </div>
                            <div id="editAddressErrorCity" class="edit-address-form-field-box city error"></div>
                        </div>
                    </div>
                    <div class="edit-address-form-field state">
                        <div class="edit-address-form-field-box state">
                            <h5>{{ address_form.state.label }}</h5>
                            {{ address_form.state }}
                        </div>
                        <i class="fas fa-info-circle edit-address"></i>
                        <div class="edit-address-tooltip">{{ address_form.state.help_text }}</div>
                        <div id="editAddressErrorState" class="edit-address-form-field-box state error"></div>
                    </div>
                    <div class="edit-address-form-field country">
                        <div class="edit-address-form-field-box country">
                            <h5>{{ address_form.country.label }}</h5>
                            {{ address_form.country }}
                        </div>
                        <div id="editAddressErrorCountry" class="edit-address-form-field-box country error"></div>
                    </div>
                </div>
                {%csrf_token%}
                <div class="edit-address-btn-block"><button class="edit-address-btn" type="submit">Save Changes</button></div>
            </form>
        </div>
    </div>
</div>

<!-- add shipping address block -->
<div id="addShippingAddressBlock" class="add-shipping-address-block-display">
    <h2>Add shipping address</h2>
    <div id="editShippingAddressInfo" class="add-shipping-address-info">
        <img class="warning-sign" src="{% static 'images/warning-sign.svg' %}">
        <p>This address will be only used for a delivery. Please make sure that all data are correct.</p>
    </div>
    <div id="addShippingAddressBlockContent" class="add-shipping-address-block-content">
        <span class="close" onclick="(() => closeBlock('addShippingAddressBlock'))()">&times;</span>
        <div class="add-shipping-address-form">
            <form method="post" action="{% url 'account:shipping-address-add' request.user.username %}">
                <div class="add-shipping-address-form-box">
                    <div class="add-shipping-address-form-field first-name">
                        <div class="add-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.first_name.label }}</h5>
                            {{ shipping_address_form.first_name }}
                        </div>
                    </div>
                    <div class="add-shipping-address-form-field last-name">
                        <div class="add-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.last_name.label }}</h5>
                            {{ shipping_address_form.last_name }}
                        </div>
                    </div>
                    <div class="add-shipping-address-form-field company">
                        <div class="add-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.company.label }}</h5>
                            {{ shipping_address_form.company }}
                            <i class="fas fa-info-circle add-shipping-address"></i>
                            <div class="add-shipping-address-tooltip">{{ shipping_address_form.company.help_text }}</div>
                        </div>
                    </div>
                    <div class="zip-code-street-block-shipping-address">
                        <div class="add-shipping-address-form-field street">
                            <div class="add-shipping-address-form-field-box">
                                <h5>{{ shipping_address_form.street.label }}</h5>
                                {{ shipping_address_form.street }}
                            </div>
                        </div>
                        <div class="add-shipping-address-form-field zip_code">
                            <div class="add-shipping-address-form-field-box">
                                <h5>{{ shipping_address_form.zip_code.label }}</h5>
                                {{ shipping_address_form.zip_code }}
                            </div>
                        </div>
                    </div>
                    <div class="add-shipping-address-form-field city">
                        <div class="add-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.city.label }}</h5>
                            {{ shipping_address_form.city }}
                        </div>
                    </div>
                    <div class="add-shipping-address-form-field state">
                        <div class="add-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.state.label }}</h5>
                            {{ shipping_address_form.state }}
                            <i class="fas fa-info-circle add-shipping-address"></i>
                            <div class="add-shipping-address-tooltip">{{ shipping_address_form.state.help_text }}</div>
                        </div>
                    </div>
                    <div class="add-shipping-address-form-field country">
                        <div class="add-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.country.label }}</h5>
                            {{ shipping_address_form.country }}
                        </div>
                    </div>
                    {%csrf_token%}
                    <div class="add-shipping-address-btn-block"><button class="add-shipping-address-btn" type="submit">Save Changes</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- edit shipping address block - create each form for each instance of shipping address -->
{% for address in shipping_address_data %}
<div id="editShippingAddressBlock-{{ address.id }}" class="edit-shipping-address-block-display">
    <h2>Edit shipping address</h2>
    <div id="editShippingAddressInfo" class="edit-shipping-address-info">
        <img class="warning-sign" src="{% static 'images/warning-sign.svg' %}">
        <p>This address will be only used for a delivery. Please make sure that all data are correct.</p>
    </div>
    <div id="editShippingAddressBlockContent" class="edit-shipping-address-block-content">
        <span class="close" onclick="closeEditShippingAddressBlock('editShippingAddressBlock-{{ address.id }}')">&times;</span>
        <div class="edit-shipping-address-form">
            <form method="post" action="{% url 'account:update-shipping-address' request.user.username address.id %}">
                <div class="edit-shipping-address-form-box">
                    <div class="edit-shipping-address-form-field first-name">
                        <div class="edit-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.first_name.label }}</h5>
                            <input type="text" name="{{ shipping_address_form.first_name.name }}" value="{% if address.first_name %}{{ address.first_name }}{% else %}{{ '' }}{% endif %}">
                        </div>
                    </div>
                    <div class="edit-shipping-address-form-field last-name">
                        <div class="edit-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.last_name.label }}</h5>
                            <input type="text" name="{{ shipping_address_form.last_name.name }}" value="{% if address.last_name %}{{ address.last_name }}{% else %}{{ '' }}{% endif %}">
                        </div>
                    </div>
                    <div class="edit-shipping-address-form-field company">
                        <div class="edit-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.company.label }}</h5>
                            <input type="text" name="{{ shipping_address_form.company.name }}" value="{% if address.company %}{{ address.company }}{% else %}{{ '' }}{% endif %}">
                            <i class="fas fa-info-circle edit-shipping-address"></i>
                            <div class="edit-shipping-address-tooltip">{{ shipping_address_form.company.help_text }}</div>
                        </div>
                    </div>
                    <div class="zip-code-street-block-shipping-address">
                        <div class="edit-shipping-address-form-field street">
                            <div class="edit-shipping-address-form-field-box">
                                <h5>{{ shipping_address_form.street.label }}</h5>
                                <input type="text" name="{{ shipping_address_form.street.name }}" value="{{ address.street }}">
                            </div>
                        </div>
                        <div class="edit-shipping-address-form-field zip_code">
                            <div class="edit-shipping-address-form-field-box">
                                <h5>{{ shipping_address_form.zip_code.label }}</h5>
                                <input type="text" name="{{ shipping_address_form.zip_code.name }}" value="{{ address.zip_code }}">
                            </div>
                        </div>
                    </div>
                    <div class="edit-shipping-address-form-field city">
                        <div class="edit-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.city.label }}</h5>
                            <input type="text" name="{{ shipping_address_form.city.name }}" value="{{ address.city }}">
                        </div>
                    </div>
                    <div class="edit-shipping-address-form-field state">
                        <div class="edit-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.state.label }}</h5>
                            <input type="text" name="{{ shipping_address_form.state.name }}" value="{{ address.state }}">
                            <i class="fas fa-info-circle edit-shipping-address"></i>
                            <div class="edit-shipping-address-tooltip">{{ shipping_address_form.state.help_text }}</div>
                        </div>
                    </div>
                    <div class="edit-shipping-address-form-field country">
                        <div class="edit-shipping-address-form-field-box">
                            <h5>{{ shipping_address_form.country.label }}</h5>
                            <input type="text" name="{{ shipping_address_form.country.name }}" value="{{ address.country }}">
                        </div>
                    </div>
                    {%csrf_token%}
                    <div class="edit-shipping-address-btn-block"><button class="edit-shipping-address-btn" type="submit">Save Changes</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<div id="overlay" class="block-overlay"></div>

{%endblock content%}
