{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/forms/general-forms.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/forms/register-form.css' %}">
      <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
      <title>Register</title>
  </head>
  <body>
    <div class="register-form-container">
      <div class="register-img">
        <img src="{% static 'images/register-image.jpg' %}" alt="register-image">
      </div>
      <div class="register-form">
        <form method="post" action="{% url 'account:register' %}">
          <div class="register-form-title">
            <h1>Sing up</h1>
            <h2>Join Ecommerce today!</h2>
            <p>Get access to all offers.</p>
          </div>
          {% for message in messages %}
          <div class="register-{{ message.tags }}">
            <div class="register-error-image">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="register-error-message">
              {{ message }}
            </div>
          </div>
          {% endfor %}
          <div class="register-form-box">
            <div class="register-form-field username {% if register_form.username.errors %}has-error{% endif %}">
              <div class="register-icon">
                <i class="far fa-user-circle"></i>
              </div>
              <div class="register-form-field-box">
                <h5>{{ register_form.username.label }}</h5>
                {{ register_form.username }}
              </div>
              <i class="fas fa-info-circle"></i>
              <div class="register-tooltip user">{{ register_form.username.help_text }}</div>
            </div>
            {% if register_form.username.errors %}
              <div class="register-field-error-message">{{ register_form.username.errors }}</div>
            {% endif %}
            <!-- <span class="register-help-text">{{ register_form.username.help_text }}</span> -->
            <div class="register-form-field email {% if register_form.email.errors and not register_form.username.errors %}has-error{% endif %}">
              <div class="register-icon">
                <i class="far fa-envelope"></i>
              </div>
              <div class="register-form-field-box">
                <h5>{{ register_form.email.label }}</h5>
                {{ register_form.email }}
              </div>
              <i class="fas fa-info-circle"></i>
              <div class="register-tooltip mail">{{ register_form.email.help_text }}</div>
            </div>
            {% if register_form.email.errors and not register_form.username.errors %}
              <div class="register-field-error-message">{{ register_form.email.errors }}</div>
            {% endif %}
            <!-- <span class="register-help-text">{{ register_form.email.help_text }}</span> -->
            <div class="register-form-field password1 {% if register_form.password1.errors %}has-error{% endif %}">
              <div class="register-icon">
                <i class="fas fa-eye password" onclick="showPassword('password', '.fas.fa-eye.password')"></i>
              </div>
              <div class="register-form-field-box">
                <h5>{{ register_form.password1.label }}</h5>
                {{ register_form.password1 }}
              </div>
              <i class="fas fa-info-circle"></i>
              <div class="register-tooltip pass1">{{ register_form.password1.help_text }}</div>
              <!-- <span class="register-help-text">{{ register_form.password1.help_text }}</span> -->
            </div>
            {% if register_form.password1.errors %}
              <div class="register-field-error-message">{{ register_form.password1.errors }}</div>
            {% endif %}
            <div class="register-form-field password2 {% if register_form.password2.errors and not register_form.password1.errors %}has-error{% endif %}">
              <div class="register-icon">
                <i class="fas fa-eye confirm" onclick="showPassword('password-confirm', '.fas.fa-eye.confirm')"></i>
              </div>
              <div class="register-form-field-box">
                <h5>{{ register_form.password2.label }}</h5>
                {{ register_form.password2 }}
              </div>
              <i class="fas fa-info-circle"></i>
              <div class="register-tooltip pass2">{{ register_form.password2.help_text }}</div>
            </div>
            {% if register_form.password2.errors and not register_form.password1.errors%}
              <div class="register-field-error-message">{{ register_form.password2.errors }}</div>
            {% endif %}
              <!-- <span class="register-help-text">{{ register_form.password2.help_text }}</span> -->
          </div>
          {%csrf_token%}
          <input type="submit" class="register-btn" value="Register">
          <h5>Already have an account? <a href="{% url 'account:login' %}">Log in</a></h5>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>footer</p>
    </div>
  </body>
  <script src="{% static 'js/scripts.js' %}"></script>
</html>
