{%extends "base.html"%}

{%block content%}
<h1>Reset password</h1>
{% for message in messages %}
    <div class="change-password-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
<p>Please enter you email address to change the password.</p>
    <div class="reset-password-form">
      <form method="post" action="{% url 'account:reset-password' %}">
        <div class="reset-password-field">
          <label for="{{ password_form.email.id_for_label }}">{{ password_form.email.label }}:</label>
          {{ password_form.email }}
        </div>
        {%csrf_token%}
        <button type="submit">Reset password</button>
      </form>
    </div>
{%endblock content%}
