{%extends "base.html"%}

{%load static%}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/reset-password.css' %}">
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
{% endblock %}

{%block content%}

<div class="reset-password-block-display">
    <h2>Reset password</h2>
    <p>Please enter your new password</p>
    <div class="reset-password-form">
        <form method="post" action="{% url 'account:reset-password-confirmation' uidb64 token %}">
            <div class="reset-password-form-field new-password">
                <div class="reset-password-icon">
                    <i class="fas fa-eye new-password" onclick="showPassword('newPassword', '.fas.fa-eye.new-password')"></i>
                </div>
                <div class="reset-password-form-field-box new-password {% if password_form.new_password.errors or messages %}has-error{% endif %}">
                    {{ password_form.new_password }}
                </div>
            </div>
            {% for message in messages %}
                <div class="reset-password-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% for error in password_form.new_password.errors %}
                <div class="reset-password-error">
                    {{ error|striptags }}
                </div>
            {% endfor %}
                <div class="reset-password-form-field confirm-password">
                <div class="reset-password-icon">
                    <i class="fas fa-eye confirm-password" onclick="showPassword('confirmPassword', '.fas.fa-eye.confirm-password')"></i>
                </div>
                <div class="reset-password-form-field-box confirm-password">
                    {{ password_form.confirm_password }}
                    <i class="fas fa-info-circle password"></i>
                    <span class="reset-password-tooltip"> {{ password_form.confirm_password.help_text }}</span>
                </div>
            </div>
            {% csrf_token %}
            <div class="reset-password-btn-box">
                <button class="reset-password-btn" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/account-scripts.js' %}"></script>

{%endblock content%}
