{%extends "base.html"%}

{%block content%}
{% for message in messages %}
    <div class="reset-password-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

<h1>Reset password</h1>
<div class="change-password-form">
    <form method="post" action="{% url 'account:reset-password-confirmation' uidb64 token %}">
        {% for field in password_form %}
            {% for error in field.errors %}
                <div class="reset-password-field-error">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        <div class="reset-password-field">
            <label for="{{ password_form.new_password.id_for_label }}">{{ password_form.new_password.label }}:</label>
            {{ password_form.new_password }}
            <span class="reset-password-help-text">{{ password_form.new_password.help_text }}</span>
        </div>
        <div class="reset-password-field">
            <label for="{{ password_form.confirm_password.id_for_label }}">{{ password_form.confirm_password.label }}:</label>
            {{ password_form.confirm_password }}
            <span class="reset-password-help-text"> {{ password_form.confirm_password.help_text }}</span>
        </div>
        {% csrf_token %}
        <button class="reset-password-button" type="submit">Change Password</button>
    </form>
</div>
{%endblock content%}
