.header-container,
.tabs-container {
    background-color: rgb(241, 241, 241);
}

.header {
    padding-top: 12px;
    padding-bottom: 10px;
}

.icon-section {
    width: 160px;
}

.tabs {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.header,
.tabs {
    background-color: rgb(241, 241, 241);
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.header,
.icon-section,
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    width: 450px;
    height: 24px;
    font-size: 14px;
    border: 1px solid rgb(75, 75, 75);
}

.search-button {
    width: 34px;
    height: 24px;
    border: 1px solid rgb(75, 75, 75);
    margin-left: -1px;
    cursor: pointer;
    transition: 0.2s;
    background-color: rgba(158, 18, 18, 0.644);
}

.search-bar,
.search-button {
    box-sizing: border-box;
}

.search-button:hover{
    background-color: rgba(131, 15, 15, 0.37);
}

.search-button .tooltip,
.icon-section .tooltip {
    position: absolute;
    background-color: rgb(65, 65, 65);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.icon-section:hover .tooltip {
    opacity: 1;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.wishlist-icon-container {
    position: relative;
    width: 24px;
    height: 24px;
}

.wishlist-count,
.messages-count,
.notifications-count,
.shopcart-count {
    position: absolute;
    top: 0px;
    right: 100px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 9px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 10px;
    right: -2px;
    border-radius: 10px;
  }

.tab-bar {
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    height: 30px;
}

.tabs button {
    float: left;
    border: none;
    margin: 0;
    outline: none;
    cursor: pointer;
    padding: 9px 16px;
    transition: 0.5s;
    font-size: 12px;
    line-height: 1;
    flex: 1;
}

.tabs button:hover {
    background-color: rgba(146, 30, 30, 0.575);
    color: white;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(241, 241, 241);
  }

.dropbtn img {
    width: 10px;
    height: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-categories {
    display: none;
    position: absolute;
    top: 100px;
    background-color: rgb(241, 241, 241);
    min-width: 150px;
    font-size: 12px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-categories a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-categories a:hover {background-color: rgba(146, 30, 30, 0.336);}

.show {display: block;}

.tabs img {
    transform: rotate(90deg); /* Adjust the angle as needed */
}

.icon-section img {
    height: 24px;
    width: 24px;
}

a.icon {
    display: block;
    transition: 0.2s;
    height: 24px;
}

.icon:hover {
    background-color: rgb(221, 221, 221);
}
