{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product/product-form.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
{% for field in product_form %}
    {% for error in field.errors %}
    <div class="edit-address-error-message">{{ error }}</div>
    {% endfor %}
{% endfor %}
<form method="post">
    {% csrf_token %}
    <div class="add-product-form-box">
        <div class="add-product-form-field name">
            {{ product_form.name.label }}: {{ product_form.name }}
        </div>
        <div class="add-product-form-field description">
            {{ product_form.description.label }}: {{ product_form.description }}
        </div>
        <div class="add-product-form-field category">
            <label for="category">Category:</label>
            <select name="category" class="product-category" id="selectProductCategory">
                <option value="">Select a category</option>
                {% for category in product_form.fields.category.queryset %}
                <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category|stringformat:"s" %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="add-product-form-field subcategory">
            <label for="subcategory">Subcategory:</label>
            <select name="subcategory" class="product-subcategory" id="selectProductSubcategory">
                <option value="">Select a subcategory</option>
                {% for subcategory in product_form.fields.subcategory.queryset %}
                <option value="{{ subcategory.id }}" data-category-id="{{ subcategory.category_id }}" {% if subcategory.id|stringformat:"s" == selected_subcategory|stringformat:"s" %}selected{% endif %}>
                    {{ subcategory.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="add-product-form-field child_subcategory">
            <label for="child_subcategory">Product type:</label>
            <select name="child_subcategory" class="product-childsubcategory" id="addProductSubcategory">
                {% for child_subcategory in product_form.fields.child_subcategory.queryset %}
                <option value="{{ child_subcategory.id }}" data-subcategory-id="{{ child_subcategory.subcategory_id }}" {% if child_subcategory.id|stringformat:"s" == selected_child_subcategory|stringformat:"s" %}selected{% endif %}>
                    {{ child_subcategory.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="add-product-form-field stock">
            {{ product_form.stock.label }}: {{ product_form.stock }}
        </div>
        <div class="add-product-form-field price">
            {{ product_form.price.label }}: {{ product_form.price }}
        </div>
    </div>
    <button type="submit">Save</button>
</form>
<script src="{% static 'js/product-scripts.js' %}"></script>
{% endblock content %}
