{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product/product-form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/product/product-list.css' %}">
{% endblock %}

{% block content %}

<h1>Product List</h1>

{% for product in products %}
    <li>{{ product.name }}</li>
{% empty %}
    <li>No products yet.</li>
{% endfor %}
<script src="{% static 'js/product-scripts.js' %}"></script>
{% endblock content %}
