{% extends "base.html" %}

{% load static %}


{% block content %}
<h1>Custom Product List</h1>

<h2>Sponsored Products</h2>
<p><a href="{% url 'product:custom-product-list' type='sponsored' %} ">See all sponsored products</a></p>
<ul>
    {% for product in sponsored_products %}
        <li>{{ product.name }} - {{ product.price }}</li>
    {% empty %}
        <li>No sponsored products found.</li>
    {% endfor %}
</ul>

{% if random_category %}
    <h2>Products from Random Category: {{ random_category.name }}</h2>
    <p><a href="{% url 'product:category-products' category_slug=random_category.slug %}">See all products from the category</a></p>
    <ul>
        {% for product in category_products %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% empty %}
            <li>No products found in this category.</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Products on Sale</h2>
<p><a href="{% url 'product:custom-product-list' type='sale'%}">See all products on sale</a></p>
<ul>
    {% for product in sale_products %}
        <li>{{ product.name }} - {{ product.price }} - {{ product.reduced_price }} (Discount: {{ product.for_sale }}%)</li>
    {% empty %}
        <li>No products on sale found.</li>
    {% endfor %}
</ul>
{% endblock content %}
