{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product/product-list.css' %}">
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<h1>Product List</h1>

<li><a href="{% url 'product:all-products' %}">All Products</a></li>

<span class="home-products-redirection"><a href="{% url 'product:home-page-products' %}" title="Go back">Go back</a></span>
<h1>Products</h1>
<div class="product-list">
    {% for product in object_list %}
        <div class="product-item">
            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
            <p>Price: {{ product.price }}</p>
            {% if user.is_authenticated %}
                <span id="favorite-icon" class="favorite-icon {% if product.id in favorite_product_ids %}favorited{% endif %}" data-product-id="{{ product.id }}">
                    {% if product.id in favorite_product_ids %}
                        <i class="fa fa-heart"></i>
                    {% else %}
                        <i class="far fa-heart"></i>
                    {% endif %}
                </span>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
            {% else %}
            <p><a href="{% url 'account:login' %}">Log in</a> to add to favorites or add to chart.</p>
            {% endif %}
        </div>
    {% empty %}
    <li>No products yet.</li>
    {% endfor %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>

{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?category={{ category_slug }}&page=1">&laquo; first</a>
                <a href="?category={{ category_slug }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?category={{ category_slug }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?category={{ category_slug }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

<script src="{% static 'js/product-scripts.js' %}"></script>
{% endblock content %}
