{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product/product-form.css' %}">
{% endblock %}

{% block content %}
{% for product in products %}
    <li>{{ product.name }}</li>
{% empty %}
    <li>No products yet.</li>
{% endfor %}
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?category_slug={{ category_slug }}&page=1">&laquo; first</a>
                <a href="?category_slug={{ category_slug }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?category_slug={{ category_slug }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?category_slug={{ category_slug }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock content %}
