{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product/product-list.css' %}">
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="product-item">
    <h2>{{ product.name }}</h2>
    <p>Price: {{ product.price }}</p>
    {% if user.is_authenticated %}
        <span id="favorite-icon" class="favorite-icon {% if product.id in favorite_product_ids %}favorited{% endif %}" data-product-id="{{ product.id }}">
            {% if product.id in favorite_product_ids %}
                <i class="fa fa-heart"></i>
            {% else %}
                <i class="far fa-heart"></i>
            {% endif %}
        </span>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    {% else %}
    <p><a href="{% url 'account:login' %}">Log in</a> to add to favorites or add to chart.</p>
    {% endif %}
</div>

<script src="{% static 'js/product-scripts.js' %}"></script>
{% endblock content %}
