{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
        {% block extra_styles %}{% endblock %}
        <title>Ecommerce</title>
    </head>
    <body>
        <div class="help-bar-container">
            <div class="help-bar">
                <div class="left-help-bar">
                    {% if request.user.is_authenticated %}
                    <span class="separator logout"><a href="{% url 'account:logout' %}" title="Log out">Log out</a></span>
                    <span class="separator profile"><a href="{% url 'account:profile-view' request.user.username %}" title="Account">Account</a></span>
                    <span class="separator favourites"><a href="{% url 'product:custom-product-list' type='favorite'%}" title="Favourites">Favorites</a></span>
                    <span class="separator other"><a href="#" title="Other">Other</a></span>
                    {% else %}
                    <span class="separator"><a href="{% url 'account:login' %}" title="Sign in">Sign in</a>
                        or <a href="{% url 'account:register' %}" title="Register">Register</a>
                    </span>
                    {% endif %}
                </div>
                <div class="middle-help-bar">
                    <p><u>ecommerce website</u></p>
                </div>
                <div class="right-help-bar">
                    <span class="separator phone">Need help? Call us <a href="#" title="Contact Center">+48604320200</a></span>
                    <span class="separator language">
                        <button class="language-dropbtn" id="language-dropbtn" onclick="dropdownLanguage()">
                            Language <img class="language-arrow" src="{% static 'images/arrow.svg' %}">
                        </button>
                        <div id="dropdownListLanguage" class="languages-dropdown">
                            <a href="#">Language 1</a>
                            <a href="#">Language 2</a>
                            <a href="#">Language 3</a>
                        </div>
                    </span>
                    <span class="separator currency">
                        <button class="currency-dropbtn" id="currency-dropbtn" onclick="dropdownCurrency()">
                            Currency <img class="currency-arrow" src="{% static 'images/arrow.svg' %}">
                        </button>
                        <div id="dropdownListCurrency" class="currencies-dropdown">
                            <a href="#">Currency 1</a>
                            <a href="#">Currency 2</a>
                            <a href="#">Currency 3</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="header-container">
            <div class="header">
                <div class="logo-section">
                    <a href="{% url 'products:home-page-products' %}"><img src="{% static 'images/ecommerce-logo.svg' %}"></a>
                </div>
                <div class="dropdown-button">
                    <button class="category-dropbtn" id="category-dropbtn" onclick="dropdownCategory()">
                        Browse All Categories <img class="category-arrow" src="{% static 'images/arrow.svg' %}">
                    </button>
                    <div id="dropdownListCategory" class="categories-dropdown">
                        {% for category in categories %}
                            <a href="{% url 'product:category-products' category.slug %}">{{ category.name }}</a>
                        {% endfor %}
                        <!-- Add more categories as needed -->
                    </div>
                </div>
                <div class="search-section">
                    <input class="search-bar" type="text" placeholder="Search...">
                        <!--TODO: later change it - add select categories-->
                    <button class="search-button">
                        <img class="search-icon" src="{% static 'images/search.svg' %}">
                        <div class="header-tooltip">Search</div>
                    </button>
                </div>
                <div class="icon-section">
                    <div class="wishlist-container">
                        <a href="#" class="icon"><img src="{% static 'images/wishlist.svg' %}"></a>
                        {% if user.is_authenticated %}
                            <div class="wishlist-count">{{ favorite_count }}</div>
                        {% endif %}
                    </div>
                    <div class="shopcart-container">
                        <a href="#" class="icon"><img src="{% static 'images/shopcart.svg' %}"></a>
                        <div class="shopcart-count">3</div>
                    </div>
                    <div class="notification-container">
                        <a href="#" class="icon"><img src="{% static 'images/notifications.svg' %}"></a>
                        <div class="notification-count">3</div>
                    </div>
                    <div class="account-container">
                        <a href="#" class="icon"><img src="{% static 'images/account.svg' %}"></a>
                        <div class="account-details">
                            <div class="account-settings-details">
                                <p>Account settings</p>
                                <a href="{% url 'account:profile-view' request.user.username %}">Edit profile</a>
                                <a onclick="(() => openBlock('editAccountBlock'))()">Edit account</a>
                                <a onclick="(() => openBlock('editAddressBlock'))()">Edit address</a>
                                <a onclick="(() => openBlock('changePasswordBlock'))()">Change password</a>
                                <a href="#">Add account</a>
                            </div>
                            <div class="sale-details">
                                <p>Sale</p>
                                <a href="{% url 'product:add-product' step='info' %}">Sell item</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-container">
            <div class="tab-bar">
                <ul class="tabs">
                    <button onclick="window.location.href='{% url 'products:home-page-products' %}'" {%block active_shop%}{%endblock active_shop%}>Shop</button>
                    <button onclick="window.location.href='{% url 'home' %}'" {%block active_sale%}{%endblock active_sale%}>For Sale</a></button>
                    <button>To be added</button>
                    <button>To be added</button>
                    <button>To be added</button>
                    <button onclick="window.location.href='{% url 'home' %}'" {%block active_vendor%}{%endblock active_vendor%}>Vendors</a></button>
                    <button onclick="window.location.href='{% url 'home' %}'" {%block active_info%}{%endblock active_info%}>About us</a></button>
                    <button onclick="window.location.href='{% url 'home' %}'" {%block active_contact%}{%endblock active_contact%}>Contact us</a></button>
                    <!-- Add more tabs as needed -->
                </ul>
            </div>
        </div>
        <!-- Your main content goes here -->
        <div class="main-content">
            {%block content%}
            <p>Home</p>
            {%endblock content%}
        </div>
        <div class="footer">
            <p>footer</p>
        </div>
    </body>
    <script src="{% static 'js/home-scripts.js' %}"></script>
</html>
