{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
