.register-form-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(238, 238, 238);
    max-width: 1200px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px -10px 20px 2px rgba(0, 0, 0, 0.664);
    flex: 10;
}

.register-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-form-container h5 {
    display: block;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}

.register-form {
    display: flex;
    justify-content: center;
}

.register-form-title {
    padding: 80px 0px 20px 0px;
    line-height: 2.0;
}

.register-form-title h1 {
    color: #942525;
    font-size: 40px;
    font-weight: 600;
}

.register-form-title h2 {
    font-size: 22px;
    font-weight: 550;
    margin-bottom: 10px;
}

.register-form-title p {
    font-size: 15px;
    font-weight: 400;
    color: #919191;
}

.fas.fa-exclamation-triangle,
.register-icon {
    color: #c7b9b3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.register-icon {
    color: #c7b9b3;
}

.fas.fa-info-circle {
    color: #2c2e9e;
    font-size: 14px;
    cursor: pointer;
}

.fas.fa-info-circle:hover {
    color: #999;
}

.register-icon i {
    transition: .5s;
}

.register-form-field.has-error,
.register-form-field {
    position: relative;
    display: grid;
    grid-template-columns: 7% 88% 5%;
    margin-top: 30px;
    padding: 16px 0px;
}

.register-form-field {
    border-bottom: 2px solid #d9d9d9;
}

.register-form-field.has-error {
    border-bottom: 2px solid #e20707;
}

.register-form-field.has-error > div > h5,
.register-form-field > div > h5 {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    transition: .5s;
    font-weight: 500;
}

.register-form-field.has-error:before, .register-form-field.has-error:after,
.register-form-field:before, .register-form-field:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #777777;
    transition: .5s;
}

.register-form-field.has-error:before,
.register-form-field:before {
    right: 50%;
}

.register-form-field.has-error:after,
.register-form-field:after {
    left: 50%;
}

.register-form-field.has-error.focus:before, .register-form-field.has-error.focus:after,
.register-form-field.focus:before, .register-form-field.focus:after {
    width: 50%;
}

.register-form-field.has-error.focus > div > h5,
.register-form-field.focus > div > h5 {
    left: 0px;
    top: 3px;
    font-size: 10px;
    font-weight: 500;
}

.register-form-field.has-error > div > input,
.register-form-field > div > input {
    position: absolute;
    left: 20px;
    top: 0;
    width: 220px;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0px 0px 10px 10px;
    font-size: 16px;
    color: #555;
}

.register-btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #fa5b5bee, #b82a2aee, #fa5b5bee);
    background-size: 200%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin: 2rem 0 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.register-btn:hover {
    background-position: right;
}

.footer {
    flex: 1;
}

.register-field-error-message {
    position: relative;
    margin: 1rem;
    width: 268px;
    background-color: #cf9494;
    border: 2px solid #c06464;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.664);
}

.register-field-error-message:after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #cf9494;
    border-top: 2px solid #c06464;
    border-right: 2px solid #c06464;
    top: -4%;
    left: 8%;
    content: '';
    transform: translate(-50%, -50%) rotate(-45deg);
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.errorlist li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0.5rem 0.5rem;
}

.register-error {
    display: flex;
    align-items: center;
    background: rgb(202, 126, 126);
    border: solid 2px;
    border-color: #8b0c0c;
    height: 50px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #030101;
}

.register-error-message {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    height: 100%;
}

.register-error-image {
    display: flex;
    align-items: center;
    padding: 0px 1rem;
}

.register-error-image i {
   font-size: 22px;
   color: rgb(131, 0, 0);
}

.register-tooltip {
    position: absolute;
    width: 180px;
    top: -10px;
    right: -190px;
    color: white;
    background-color: rgb(88, 74, 170);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 2px rgb(133, 133, 133);
    opacity: 0;
}

.register-tooltip.pass1 {
    width: 280px;
    top: -30px;
    right: -310px;
    padding: 8px 15px;
    border-radius: 30px;
}

.fas.fa-info-circle:hover + .register-tooltip {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    body {
        background-color: rgb(238, 238, 238);
    }

    .register-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        box-shadow: none;
        border-radius: 0px;
    }

    .register-img {
        display: none;
    }

    .register-form {
        justify-content: center;
    }

    .footer {
        display: none;
    }
}
